In [101]:
import json 
import pandas as pd 
import numpy as np
from ast import literal_eval

In [3]:
#import TS files
f1 = 'https://upday-data-assignment.s3.eu-west-1.amazonaws.com/lake/2019-02-15.tsv'
f2 = 'https://upday-data-assignment.s3.eu-west-1.amazonaws.com/lake/2019-02-16.tsv'
f3 = 'https://upday-data-assignment.s3.eu-west-1.amazonaws.com/lake/2019-02-17.tsv'

# Convert to dataframes
t1 = pd.read_csv(f1, sep='\t', header=0)
t2 = pd.read_csv(f1, sep='\t', header=0)
t3 = pd.read_csv(f1, sep='\t', header=0)

In [192]:
#Apped all files into 1
T = t1.append(t2.append(t3)).reset_index()

#Create a copy for test
T_1 = T.copy()

In [80]:
pd.json_normalize(json.loads(pd.json_normalize(T_2[0].to_dict())[0][0]))

,category,id,noteType,orientation,position,publishTime,sourceDomain,sourceName,stream,streamType,subcategories,title,url
0,digital_life,jLcW_MnCfbLN8Ph-bsTwGw,TRENDING_SOCIAL,PORTRAIT,1,2019-02-14T21:08:00Z,gamestar.de,GameStar,wtk,my news,[digital_life.games],News: Overwatch League - 2. Saison startet heu...,https://www.gamestar.de/artikel/overwatch-leag...

In [151]:
#T_1['ATTRIBUTES'].apply(lambda s: pd.json_normalize(json.loads(s)))
type(T_1['ATTRIBUTES'][0])

str

In [193]:
T_1['ATTRIBUTES'] = T_1['ATTRIBUTES'].fillna('[]')
T_2 = T_1.copy()
T_1['ATTRIBUTES'] = T_1['ATTRIBUTES'].apply(json.loads)
T_1['ATTRIBUTES'] = T_1['ATTRIBUTES'].apply(lambda x: {} if pd.isna(x) else x)

<ipython-input-193-34448a6a2395>:4: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  T_1['ATTRIBUTES'] = T_1['ATTRIBUTES'].apply(lambda x: {} if pd.isna(x) else x)

In [176]:
pd.json_normalize(T_1['ATTRIBUTES'][29994])

,category,id,noteType,orientation,position,publishTime,sourceDomain,sourceName,stream,streamType,subcategories,title,url
0,sports,w5rHUTcx4FXXdCKfldecxA,GENERAL_NEWS,PORTRAIT,55,2019-02-14T23:45:00Z,maisfutebol.iol.pt,Maisfutebol,wtk,my news,[sports.football_domestic],«4x4x3»: a maior surpresa do mercado de inverno,https://maisfutebol.iol.pt/amp/opiniao/sp-brag...

In [175]:
## incorrect column structure
pd.json_normalize(T_1['ATTRIBUTES'][29995])

,browser,category,id,network,noteType,publishTime,sourceDomain,sourceName,stream,subcategories,title,url
0,Chrome,people_shows,os47h9tix5gYgkQYmbgG6w,online,SERENDIPITY,2019-02-14T10:42:00Z,intouch.wunderweib.de,InTouch,wtk,[people_shows.vips],Michael Schumacher: Neues Glück für seine Ehef...,https://intouch.wunderweib.de/amp/michael-schu...

In [177]:
pd.json_normalize(T_1['ATTRIBUTES'][29996])

,category,id,noteType,orientation,position,publishTime,sourceDomain,sourceName,stream,streamType,subcategories,title,url
0,fashion_beauty_lifestyle,wmrG7EUli7hKztOhtysnWQ,SPECIFIC_NEWS,PORTRAIT,70,2019-02-14T20:04:00Z,vogue.com,Vogue,wtk,my news,[fashion_beauty_lifestyle.family_relationships],"Telfar Hosts a Southern, Family-Style Dinner a...",https://www.vogue.com/article/telfar-fashion-w...

In [200]:
expected_cols = pd.json_normalize(T_1['ATTRIBUTES'][29996]).columns.to_list()

In [201]:
expected_cols

['category',
 'id',
 'noteType',
 'orientation',
 'position',
 'publishTime',
 'sourceDomain',
 'sourceName',
 'stream',
 'streamType',
 'subcategories',
 'title',
 'url']

In [225]:
## Identify invalid keys
newdict = {}
for nesteddict in T_1['ATTRIBUTES']:
    for key in expected_cols:
        if key not in nesteddict:
            #print(key, 'is unknown')
            newdict[T_1['ATTRIBUTES'].keys()[i]] = T_1['ATTRIBUTES'].values()[i]
        #else:
        #    value = nesteddict[key]
        #    print('{} = {}'.format(key, value))

TypeError: 'numpy.ndarray' object is not callable

In [226]:
newdict

{}

In [212]:
test_invalid_key = {k: T_1['ATTRIBUTES'] for k in T_1 if k not in expected_cols}