In [1]:
import pandas as pd
import json
#from pandas.io.json import json_normalize

In [2]:
def parse_column(data):
    try:
        return json.loads(data)
    except Exception as e:
        print(e)
        return None

def clean_json(x):
    "Create apply function for decoding JSON"
    return json.loads(x)

In [3]:
#import TS files
f1 = 'https://upday-data-assignment.s3.eu-west-1.amazonaws.com/lake/2019-02-15.tsv'
f2 = 'https://upday-data-assignment.s3.eu-west-1.amazonaws.com/lake/2019-02-16.tsv'
f3 = 'https://upday-data-assignment.s3.eu-west-1.amazonaws.com/lake/2019-02-17.tsv'

In [27]:
test1 = pd.read_csv(f1,converters={'ATTRIBUTES': json.loads}, sep='\t', header=0)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [23]:
test1['ATTRIBUTES'][0]

'{    "category": "digital_life",    "id": "jLcW_MnCfbLN8Ph-bsTwGw",    "noteType": "TRENDING_SOCIAL",    "orientation": "PORTRAIT",    "position": "1",    "publishTime": "2019-02-14T21:08:00Z",    "sourceDomain": "gamestar.de",    "sourceName": "GameStar",    "stream": "wtk",    "streamType": "my news",    "subcategories": [      "digital_life.games"    ],    "title": "News: Overwatch League - 2. Saison startet heute Nacht, ein einziger deutscher Spieler ist dabei",    "url": "https://www.gamestar.de/artikel/overwatch-league-2-saison-startet-heute-nacht-ein-einziger-deutscher-spieler-ist-dabei,3340648.amp"  }'

In [26]:
type(pd.DataFrame.from_dict(test1['ATTRIBUTES']))

pandas.core.frame.DataFrame

In [22]:
test1[sorted(test1['ATTRIBUTES'][0].keys())] = test1['ATTRIBUTES'].apply(pd.Series)

AttributeError: 'str' object has no attribute 'keys'

In [4]:
# Convert to dataframes
t1 = pd.read_csv(f1, sep='\t', header=0)
t2 = pd.read_csv(f1, sep='\t', header=0)
t3 = pd.read_csv(f1, sep='\t', header=0)

In [5]:
#Apped all files into 1
T = t1.append(t2.append(t3))

In [7]:
T_1 = T.copy()

In [55]:
df = pd.json_normalize(T['ATTRIBUTES'])

AttributeError: 'str' object has no attribute 'values'

In [37]:
T.head()

,TIMESTAMP,MD5(SESSION_ID),EVENT_NAME,MD5(USER_ID),ATTRIBUTES
0,2019-02-15 03:07:03.662 +0000,60584c4ed725b4554397e3a99ecf79bb,my_news_card_viewed,3dd1b5078d31866877edbc1259523dcf,"{ ""category"": ""digital_life"", ""id"": ""jLc..."
1,2019-02-15 03:07:11.496 +0000,3cabd76ceb3d145594f5a7ce053f216b,my_news_card_viewed,739366b08ab6dfebb016823f68518f99,"{ ""category"": ""fashion_beauty_lifestyle"", ..."
2,2019-02-15 03:07:07.343 +0000,44b3051a058b74e97c1a86d8020d79d1,my_news_card_viewed,60253899004e7e0aaca469996805d2bb,"{ ""category"": ""politics"", ""id"": ""8Cx0TsQ..."
3,2019-02-15 03:07:06.824 +0000,599c2b8af6715568f69d9a1b9e0adfc1,top_news_card_viewed,5ff49205bb31da8ef1c8ac1cbf3aee14,"{ ""category"": ""politics"", ""id"": ""46382c9..."
4,2019-02-15 03:07:08.239 +0000,df288195215f4b251589034f01cedbc5,my_news_card_viewed,be2b359cd9e61b5680cfdee2e6696ec7,"{ ""category"": ""fashion_beauty_lifestyle"", ..."

In [9]:
pd.DataFrame(T.iloc[84])

                                                                84
TIMESTAMP                            2019-02-15 03:07:27.995 +0000
MD5(SESSION_ID)                   9e9e45e1c36be0a5faa37852eebe3b35
EVENT_NAME                                     my_news_card_viewed
MD5(USER_ID)                      b65b11ec42da9b2bd1161991eb13f382
ATTRIBUTES       {    "category": "politics",    "id": "7HNGHOR...

In [32]:
sample_type = type(T_1['ATTRIBUTES'][84])
print(f"The data type before using apply function: {sample_type}\n")

The data type before using apply function: <class 'pandas.core.series.Series'>

In [12]:
json_cols = ['ATTRIBUTES']
for x in json_cols:
    T_1[x] = T_1['ATTRIBUTES'].apply(clean_json)

the JSON object must be str, bytes or bytearray, not float
the JSON object must be str, bytes or bytearray, not float

In [71]:
type(T_1['ATTRIBUTES'])

pandas.core.series.Series

In [65]:
raw_data = [{'id': 1, 'name': 'NATALIE', 'json_result': '{"0": {"_source": {"person_id": 101, "firstname": "NATALIE", "lastname": "OSHO", "city_name": "WESTON"}}}'}, \
        {'id': 2, 'name': 'MARK', 'json_result': '{"0": {"_source": {"person_id": 102, "firstname": "MARK", "lastname": "BROWN", "city_name": "NEW YORK"}}}'}, \
        {'id': 3, 'name': 'NANCY', 'json_result': '{"0": {"_source": {"person_id": 103, "firstname": "NANCY", "lastname": "GATES", "city_name": "LA"}}}'}]

df = pd.DataFrame.from_dict(raw_data)
ser = df['json_result'].apply(lambda s: pd.json_normalize(json.loads(s)))

In [69]:
ser

0       0._source.person_id 0._source.firstname 0._...
1       0._source.person_id 0._source.firstname 0._...
2       0._source.person_id 0._source.firstname 0._...
Name: json_result, dtype: object

In [67]:
a = df.drop(columns=['json_result'])
b = pd.concat(list(ser), ignore_index=True)
c = a.join(b)

In [68]:
c

,id,name,0._source.person_id,0._source.firstname,0._source.lastname,0._source.city_name
0,1,NATALIE,101,NATALIE,OSHO,WESTON
1,2,MARK,102,MARK,BROWN,NEW YORK
2,3,NANCY,103,NANCY,GATES,LA

In [70]:
a_dict = {
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
}
type(a_dict)

dict

In [85]:
df = pd.DataFrame.from_dict(t1['ATTRIBUTES'])
ser = df['ATTRIBUTES'].apply(lambda s: pd.json_normalize(json.loads(s)))

TypeError: the JSON object must be str, bytes or bytearray, not float

In [88]:
json.loads(pd.to_dict(t1['ATTRIBUTES']))

AttributeError: module 'pandas' has no attribute 'to_dict'